.item{
padding: 10px;
color: white;

}

.postButton{
	background-color: #2A687E;
	color: #401641;
	border: none;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
}

.postForm{
	background-color: #1B3550;
	color: #BAC7E8;

}

	.item img{
	width: 70px;
	height: 70px;
	border: 1px solid grey;
	border-radius: 50%;
	margin: 5px;
	}
	
